<template name="Post">
	
	<div class="post">
		{{> Geeker geeker=geeker}}
		
		<div class="post-content">
			<blockquote><span class="quote-mark pull-left">“</span>{{content}}<span class="quote-mark pull-right">”</span></blockquote>
			<span class="source">Source: {{source}}</span>
		</div>
		<div class="clearfix"></div>
		<hr>
		<div class="post-likes">
			<div class="like {{#if isLike}}active{{/if}}">
				<i class="fa fa-thumbs-up"></i> Not bad! {{#if gt likesNumber 0}}<span>{{likesNumber}} geeker{{#if gt likesNumber 1}}s{{/if}} like this post</span>{{/if}}
			</div>
			<div class="dislike {{#if isDislike}}active{{/if}}">
				<i class="fa fa-thumbs-down"></i> Looser! {{#if gt dislikesNumber 0}}<span>{{dislikesNumber}} geeker{{#if gt dislikesNumber 1}}s{{/if}} don't like this post</span>{{/if}}
				
			</div>
		</div>
	</div>

</template>